<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="App para estudos de ingles">
    <meta name="author" content="Moises Pereira">

    <title>Videos Para Iniciante</title>
    <!-- jQuery -->
    <script src="../../js/jquery.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/app.css" rel="stylesheet">

    <link href="../../css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
   
    <!-- Custom CSS -->
    <script src="../../js/bootstrap.min.js"></script>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Vídeos Iniciante</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=n3JaBrsistk&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/prepositions_of_time.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=vPGPeDyiF_I"   target="_blank">
                    <img id="responsive" src="../../icones/improve_your_vocabulary.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=IDToW3e43Ss&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/phrasal_verbs_for_travel.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=qzOsAZJhkqk&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/how_long_how_many.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=W4NrflE2-nQ&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/talking_about_sleep.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=KZxswM3Xa4A&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/eating_drinking.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=vf861z0MuMc&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/when_to_use_the_s_in_english.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=3iJR8jCazzk&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/over_expressions.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=RZW-eCcAmnQ&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/to_two_too.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=--564vFIwzs&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/10_common_expressions.jpg">
                </a>
            </div>

        </div>

    </div>
    <br><br><br><br>
    <!-- /.container -->

    <div class="row rodape">
        <hr>
        <div id="footer" >
            <ul class="social">
                <li> <a href="../../index.html"> <i class="fa fa-home fa-3x">  &nbsp; </i> </a> </li>
                <li> <a href="../quiz/questoes.html"> <i class="fa fa-question-circle-o fa-3x">  &nbsp; </i> </a> </li>
                <li> <a href="../expressoes/expressoes.html"> <i class="fa fa-comments-o fa-3x">  &nbsp;</i> </a> </li>
                <li> <a href="./videos.html"> <i class="fa fa-youtube-play fa-3x"> &nbsp; </i> </a> </li>
            </ul>         
        </div>  
    </div>


</body>

</html>
