<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="App para estudos de ingles">
    <meta name="author" content="Moises Pereira">

    <title>Videos Para Intermediário</title>
    <!-- jQuery -->
    <script src="../../js/jquery.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/app.css" rel="stylesheet">

    <link href="../../css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
   
    <!-- Custom CSS -->
    <script src="../../js/bootstrap.min.js"></script>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Vídeos Intermediário</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=btyRN7va5hg&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/oxymorons_20_funny_examples.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=bjslVzbt8cQ&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/dad_jokes.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=zAthFgcjmVY&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/grammar_the_3rd_conditional.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=aCM633yN5V4&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/grammar_the_2nd_conditional.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=I9CZ-nj9joM&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/use_used_usedto.jpg">
                </a>
            </div>     

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=Xya8vp0yswc&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/lookup_messup_washup_speakup.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=DfRamSyNkuI&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/no_more_awkward_moments.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=Olov9iu8YLw&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/how_to_write_your_cv.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=IpRxRAEw4Fw&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/discover_your_learning_style.jpg">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="https://www.youtube.com/watch?v=YnCSX5g7jkI&feature=youtu.be"   target="_blank">
                    <img id="responsive" src="../../icones/celebrating_the_new_year.jpg">
                </a>
            </div>                                                         

        </div>
    
    </div>
    <br><br><br><br>

    <div class="row rodape">
        <hr>
        <div id="footer" >
            <ul class="social">
                <li> <a href="../../index.html"> <i class="fa fa-home fa-3x">  &nbsp; </i> </a> </li>
                <li> <a href="../quiz/questoes.html"> <i class="fa fa-question-circle-o fa-3x">  &nbsp; </i> </a> </li>
                <li> <a href="../expressoes/expressoes.html"> <i class="fa fa-comments-o fa-3x">  &nbsp;</i> </a> </li>
                <li> <a href="./videos.html"> <i class="fa fa-youtube-play fa-3x"> &nbsp; </i> </a> </li>
            </ul>      
        </div>  
    </div>

</body>

</html>
